.time-slots {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.time-slots button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.time-slots button.free {
  background-color: #60a771;
  color: white;
}

.time-slots button.busy {
  background-color: #d35e69;
  color: white;
}

.time-slots button.selected {
  background-color: blue;
  color: white;
}
